[*.cs]

# CS0169: The field 'FormDashboard.marker' is never used
dotnet_diagnostic.CS0169.severity = none

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none
